bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.ArmazemAPI/.idea/contentModel.xml
.idea/.idea.ArmazemAPI/.idea/indexLayout.xml
.idea/.idea.ArmazemAPI/.idea/modules.xml
.vs/ProjectEvaluation/armazemapi.projects.v6.1
.vs/ProjectEvaluation/armazemapi.metadata.v6.1
.vs/ArmazemAPI/v17/.suo
.vs/ArmazemAPI/v17/.futdcache.v2
.vs/ArmazemAPI/FileContentIndex/f1fb7503-7492-4093-ae4d-0accb4c79cd5.vsidx
.vs/ArmazemAPI/FileContentIndex/d928b452-d0ae-4127-8e9e-3aa0a5ba1a7f.vsidx
.vs/ArmazemAPI/FileContentIndex/964dfeeb-181d-4dca-afbd-31e9917bb69f.vsidx
*.vsidx
*.v2
*.config
*.xml
*.xml
*.xml
*.xml
